<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <style type="text/css">
       TABLE {
        border-collapse: collapse;
        border: 1px solid black;
       }
       TD, TH {
        padding: 5px;
        border: 1px solid black;
       }
     </style>
</head>
<body>

<h1>Данные с сайта habr.com</h1>
<table>
    <tr>
        <th>Заголовок</th>
        <th>Описание</th>
        <th>Дата публикации</th>
        <th>Автор</th>
    </tr>
    {% for key, value in data.items %}
    <tr>
        <th>{{ key }}</th>
        <th>
            {% for item in value.0 %}
            <p>{{ item }}</p>
            {% endfor %}
        </th>
        <th>{{ value.1 }}</th>
        <th>{{ value.2 }}</th>
    </tr>
    {% endfor %}
</table>
</body>
</html>